In [51]:
# \for loop code

print("hello world")

print("kya kar rahe ho yarrrr")

hello = ['annas' , 'pasha']
print(hello)
hello.append

hello world
kya kar rahe ho yarrrr
['annas', 'pasha']

In [52]:
hello = ['annas' , 'pasha' , 'ayan' , 'ali' , 'qasim']

for name in hello:
    if name == 'anas':
        print("han theek ha")
print(hello)

['annas', 'pasha', 'ayan', 'ali', 'qasim']

In [53]:
hello = ['annas' , 'pasha' , 'ayan' , 'ali' , 'qasim']

name_input = input("apna naam likho bhai")

for name in hello:
    if name==name_input:
        print("haan theek ha shabash")
        break
else:
    print("nahi ha bhai naam")

nahi ha bhai naam

In [54]:
#if 2 + 2 == 4:
# print("Everything makes sense.")

 #input("number_of_husbands")
 #if number_of_husbands == 1:
  #print("So far so good.")
  #print("Congratulations.")
  #print("All done")
#if fulllname == firstname + "" + lastname :
 #   if x+y == a-b :
        
  #      if your_ticket_number_is != 567:
   #         print("better luck bharwe")

In [55]:
names = ['annas', 'ali', 'ayan']

for name in names:
    print(name)

annas
ali
ayan

In [56]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [57]:
firstname = ['annas', 'ayan', 'qasim', 'ale', 'ibrahim']
lastname = ['pasha', 'hussain','hassan','irfan','javaid']
fullname = []
for first_name in firstname:
    for last_name in lastname:
        fullname.append(first_name + " " + last_name)
print(fullname)

['annas pasha', 'annas hussain', 'annas hassan', 'annas irfan', 'annas javaid', 'ayan pasha', 'ayan hussain', 'ayan hassan', 'ayan irfan', 'ayan javaid', 'qasim pasha', 'qasim hussain', 'qasim hassan', 'qasim irfan', 'qasim javaid', 'ale pasha', 'ale hussain', 'ale hassan', 'ale irfan', 'ale javaid', 'ibrahim pasha', 'ibrahim hussain', 'ibrahim hassan', 'ibrahim irfan', 'ibrahim javaid']

In [58]:
firstname = ['annas', 'ayan', 'qasim', 'ale', 'ibrahim']
lastname = ['pasha', 'hussain','hassan','irfan','javaid']
fullname = []

for first, last in zip(firstname, lastname):
    fullname.append(first + " " + last)

print(fullname)

['annas pasha', 'ayan hussain', 'qasim hassan', 'ale irfan', 'ibrahim javaid']

In [59]:
city_to_check = input("Enter your city: ")
city_to_check = city_to_check.lower()
cleanest_cities = ["cheyenne", "santa fe",
"tucson", "great falls", "honolulu"]
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
      print("It's one of the cleanest cities")
print(city_to_check)

In [60]:
my_cats = ["Draco", "Bellatrix", "Voldemort"]

print(my_cats[0])

Draco

In [61]:
customer_29876 = {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}
address_of_customer = customer_29876["address"]
address_of_customer = customer_29876["address"]
print(address_of_customer)

4803 Wellesley St.

In [62]:
print("chakke han bc")

anas = input("kon?")
print(anas)
for gay in anas:
    print("maa bhen hogyi:")

chakke han bc

In [70]:
def add_numbers():
    phela_num = 4
    sec_num = 5
    total = phela_num + sec_num
    print(total)
add_numbers()

9

In [71]:
def add_num (first,second):
    tot= first+second
    print (tot)
add_num( 5,6)

11

In [80]:
print("hellloworld")

hellloworld

In [81]:
def user_greeting(greeting):
    print(greeting)

greeting = "hello there"
user_greeting(greeting)

hello there

In [82]:
def couple_name(husband, wife):
    print("The names are " + husband + " and " + wife)

couple_name("anas", "xyz")

The names are anas and xyz

In [ ]:
correct_username ="annas"
correct_password ="1234"

def login():
    while True:
        username=input("enter username")
        password=input("enter password")

        if username == correct_username and password == correct_password:
            print("login sucessfull")
            break
        else:
            print("please try again")
        
login()